.detail_form_wrap {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 14px;
}

.image_wrap {
  width: 50%;
  > div {
    margin: 87px calc(3.51% + 8px) 87px 3.51%;
    border-radius: 50px;
    img {
      border-radius: 50px;
    }
  }
  box-shadow: 8px 0px 5px -2px rgba(99, 99, 99, 0.2);
}

.detail_description {
  box-shadow: -8px 0px 5px -2px rgba(99, 99, 99, 0.2);
  padding: 87px 4.89%;
  width: 50%;
}

// 제품 설명
.icon_wrap {
  display: flex;
  gap: 2px;
  li {
    padding: 2px 6px;
    font-size: 10px;
    display: flex;
    align-items: center;
  }
  margin-bottom: 36px;
}
.new_icon {
  border: 1px solid var(--black);
  font-family: Libre;
}
.best_icon {
  background-color: #e9b281;
  color: var(--white);
}
.popular_icon {
  background-color: #b7d38e;
  color: var(--white);
}

.detail_product_name {
  width: 100%;
  font-size: 24px;
}
.detail_product_content {
  font-size: 16px;
  margin-bottom: 66px;
}
.detail_product_category {
  color: #60a7bd;
  font-family: Libre;
  font-weight: 400;
  margin-bottom: 32px;
  display: block;
}
.datail_product_price {
  text-align: right;
  font-size: 20px;
  margin-bottom: 26px;
}
.detail_product_delivery {
  display: flex;
  gap: 10px;
}

.detail_product_delivery_time {
  color: #60a7bd;
}

.detail_button_wrap {
  margin-top: 60px;
  display: flex;
  justify-content: end;
  button {
    cursor: pointer;
    transition: 0.2s;
  }
  
}

.add_to_cart_button {
  background-color: transparent;
  border:1px solid #5379C3;
  font-size: 20px;
  // font-weight: 700;
  color:#5379c3;
  padding: 15px 37px;    
  &:hover {
    background: #5379C3;
    color:var(--white)
  }
}

.detail_option_wrap {
  display: flex;
  flex-direction: column;
  gap:6px;
  margin-top: 30px;
}
.single_size {
  display: flex;
  > div {
    font-size: 16px;
    padding: 1px 12px;
    background-color: #d9d9d9;
    border-radius: 50px;
    font-weight: 700;
  }
}

.single_color {
  display: flex;
  align-items: center;
  gap:6px;
  
  > div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}
@media (max-width: 800px) {
  .detail_form_wrap{
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
  }
  .image_wrap {
    width: 100%;
    box-shadow:none;
  }
  .detail_description {
    width: 100%;
    box-shadow: none;
  }
}
