.product_detail_wrap {
  padding: 80px 6.98%;
}

.product_detail_content {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .product_detail_wrap {
    padding: 20px 2%;
  }
}