.cart_table_pc_wrap {
  width: 100%;
  margin: 0 auto;
  thead {
    border-top: 3px solid var(--black);
    border-bottom: 1px solid #adadad;

    th {
      padding: 0.35em 0 0.35em;
      font-weight: 400;
      text-align: center;
      font-size: 20px;
    }
  }
  tbody {
    border-bottom: 1px solid #adadad;
    td {
      text-align: center;
      vertical-align: middle;
      padding: 30px 0;
    }
  }
}
.cart_checkbox {
  margin: 0;
  padding: 0 30px !important;
  width: 0;
}
.cart_title {
  max-width: 180px;
  padding: 0 40px !important;
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
.option_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.cart_color {
  p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      display: block;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }
}
.cart_size {
  > p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      font-size: 14px;
      display: block;
      border-radius: 10px;
      padding: 1px 6px;
      background-color: #d9d9d9;
    }
  }
}
@media (max-width: 800px) {
  .cart_table_pc_wrap {
    display: none;
  }
}
